:root {
    
    --color-white: #ffffff;
    
    --color-shadow: #373737;
    
    --color-muted-blue: #5c7c89;
    
    --color-deep-blue: #1f4959; 

    --color-dark-navy: #021c33;
    
    --color-sky-blue: #2b6777;
    
    --color-light-gray: #c8d8e4;
    
    --color-off-white: #e9e5e5;

    --color-text: #000000;

}