@import url('./colors.css'); /* Import the colors.css file */

footer {
    margin-top: auto;
    font-size: 0.9em;
    color: #333;
    padding: 10px 0; /* Adjust the padding as needed */
    background-color: var(--color-deep-blue); /* Optional: to match the background color */
    text-align: center;
    box-shadow: 0 -4px 8px var(--color-shadow); /* Add a subtle shadow */
}

@media (max-width: 600px) {
    footer {
        font-size: 0.8em;
    }
}