@import url('./colors.css'); /* Import the colors.css file */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome,
.about-us,
.services {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 900px;
    font-size: 1em; /* Smaller font size */
    color: var(--color-text); /* Slightly darker color */
}

.service,
.service * {
    text-align: left;
}

.contact-us-p {
    text-align: center;
}

.about-title {
    font-size: 2.5em;
    text-decoration: underline;
    color : var(--text-color);
}

.about-details {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 900px;
    font-size: 1em; /* Smaller font size */
    color: var(--color-text); /* Slightly darker color */
}

.required-feild {
    color: rgb(255, 80, 49);
}

.clickable-link {
    color: var(--color-white);
    text-decoration: none;
}

@media (max-width: 75%) {
    .welcome,
    .about-us,
    .services,
    .about-details,
    .contact-us {
        max-width: 75%;
        margin: 10px;
    }
}