.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 80px auto;
}

.card {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 250px;
    min-height: 300px;
    font-size: 1em; /* Smaller font size */
    color: var(--col-text); /* Slightly darker color */
    box-shadow: 0 4px 8px var(--col-shadow);
    background-color: var(--col-off-white);  
}

.card details {
    margin-bottom: 10px;
    border: 1px solid var(--col-text);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--col-off-white);
    box-shadow: 0 4px 8px var(--col-shadow);
}

.card summary {
    cursor: pointer;
    font-weight: bold;
    color: var(--col-text);
    list-style: none; /* Remove default bullet points */
}

.card summary::marker {
    content: ''; /* Remove default marker */
}

.card details p {
    margin: 10px 0 0 0;
    padding: 0;
    color: var(--col-text);
}

.card h2 {
    font-size: 1.5em;
    text-decoration: underline;
    color: var(--col-text);
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    text-align: left;
    margin-bottom: 5px;
}