:root {
    /* Primary colors Blue */
    --col-primary-HL: #5c7c89;
    --col-primary-medium: #0764de; 
    --col-primary-dark: #064BA5;
    --col-primary-links: #064BA5;
    --col-primary-linksH: #0856bd;
    
    /* Primary colors Purple */
    /*--col-primary-HL: #9e72c3;
    --col-primary-light: #7338a0;
    --col-primary-medium: #4a2574; 
    --col-primary-dark: #1b0b42;
    --col-primary-links: #924dbf;
    --col-primary-linksH: #ae5ee3;*/
    
    /* Primary colors Green */
    /*--col-primary-HL: #cad2c5;
    --col-primary-light: #52796f;
    --col-primary-medium: #354f52; 
    --col-primary-dark: #2f3e46;
    --col-primary-links: #69856f;
    --col-primary-linksH: #7ba083;
    
    /* Primary colors yellow */
    /*--col-primary-HL: #fff700;
    --col-primary-light: #ffb300;
    --col-primary-medium: #ff8300; 
    --col-primary-dark: #ff4500;
    --col-primary-links: #ffd300;
    --col-primary-linksH: #ffe565;*/
    
    /* Neutral colors */
    --col-light-gray: #abb8c2;
    --col-off-white: #e9e5e5;

    /* Text color */
    --col-text: #000000;
    --col-text-button: #ffffff;

    /* Basic colors */
    --col-white: #ffffff;
    --col-shadow: #000000bb;
    --col-black: #000000;
    --col-red: #ff5031;
    
}