:root {
    /* Primary colors */
    --col-primary-HL: #5c7c89;
    --col-primary-medium: #1f4959; 
    --col-primary-dark: #021c33;
    --col-primary-links: #2b6777;
    --col-primary-linksH: #347d91;

    /* Neutral colors */
    --col-light-gray: #abb8c2;
    --col-off-white: #e9e5e5;

    /* Text color */
    --col-text: #000000;

    /* Basic colors */
    --col-white: #ffffff;
    --col-shadow: #000000bb;
    --col-black: #000000;
    --col-red: #ff5031;
    
}