:root {
    /* Primary colors Blue */
    --col-primary-HL: #5c7c89;
    --col-primary-medium: #0764de; 
    --col-primary-dark: #064BA5;
    --col-primary-links: #064BA5;
    --col-primary-linksH: #0856bd;
    
    /* Neutral colors */
    --col-light-gray: #abb8c2;
    --col-off-white: #e9e5e5;

    /* Text color */
    --col-text: #000000;
    --col-text-button: #ffffff;

    /* Basic colors */
    --col-white: #ffffff;
    --col-shadow: #000000bb;
    --col-black: #000000;
    --col-red: #ff5031;
    
    /* Transparency variations */
    --col-primary-dark-10: rgba(6, 75, 165, 0.1);
    --col-primary-dark-20: rgba(6, 75, 165, 0.2);
    --col-primary-dark-40: rgba(6, 75, 165, 0.4);
    --col-primary-medium-20: rgba(7, 100, 222, 0.2);
    --col-primary-medium-40: rgba(7, 100, 222, 0.4);
    --col-white-10: rgba(255, 255, 255, 0.1);
    --col-white-15: rgba(255, 255, 255, 0.15);
    --col-white-20: rgba(255, 255, 255, 0.2);
    --col-white-30: rgba(255, 255, 255, 0.3);
    --col-white-50: rgba(255, 255, 255, 0.5);
    --col-black-10: rgba(0, 0, 0, 0.1);
    --col-black-20: rgba(0, 0, 0, 0.2);
    --col-black-70: rgba(0, 0, 0, 0.7);
}