.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.service,
.service * {
    text-align: left;
}

.contact-us-p {
    text-align: center;
}

.about-title {
    font-size: 2.5em;
    text-decoration: underline;
    color: var(--col-text);
}

.about-us {
    margin-top: 80px;
}

.required-feild {
    color: var(--col-red);
}

.clickable-link {
    color: var(--col-white);
    text-decoration: none;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 250px 40px 25px;
    transition: padding-top 0.75s ease;
    width: 100%;
    max-width: 750px;
    margin: 0 auto; /* Center horizontally */
}

.home.shrink {
    padding-top: 250px;
}

.greetings {
    margin-top: 50px;
    text-align: left; /* Center text */
}

@media (max-width: 700px) {
    .home {
        padding-top: 75px;
        width: 100%;
    }
    
    .home.shrink {
        padding-top: 75px;
    }
    
    .menu {
        max-width: 90%;
        min-width: 90%;
    }
}