.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.service,
.service * {
    text-align: left;
}

.contact-us-p {
    text-align: center;
}

.about-title {
    font-size: 2.5em;
    text-decoration: underline;
    color: var(--col-text);
}

.about-us {
    margin-top: 80px;
}

.required-feild {
    color: var(--col-red);
}

.clickable-link {
    color: var(--col-white);
    text-decoration: none;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 170px; /* Adjusted from 250px to account for fixed header height */
    width: 100%;
}

.greetings {
    margin: 50px 40px 25px;
    text-align: left; /* Align text to the left */
    margin: 0 auto; /* Center horizontally */
    width: 750px; /* Ensure the text fills the container */
    height: 100%; /* Ensure the text fills the container */
    margin: 0 auto;
}

@media (max-width: 700px) {
    .home {
        padding-top: 75px;
        width: 100%;
    }
    
    .menu {
        max-width: 90%;
        min-width: 90%;
    }
}